<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style>form { display: inline; }</style>
    <title>Planets</title>
</head>
<body>
    <section class="planets">
        <div class="container">
            <header>
                    <h1>Star Wars universe planets</h1>
                        <form action='/previous'>
                            <button type="submit" name = "previous" value="{{ tenPlanets.previous }}" class="btn btn-primary" id="previus">Previous</button>
                        </form>
                        <form action='/next'>
                            <button type="submit"; name = 'next' value="{{ tenPlanets.next }}" class="btn btn-primary" id="next">Next</button>
                        </form>
            </header>    
            
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th id='name'>Name</th>
                        <th id='diameter'>Diameter</th>
                        <th id='climate'>Climate</th>
                        <th id='terrain'>Terrain</th>
                        <th id='surface-water-percentage'>Surface Water Percentage</th>
                        <th id='population'>Population</th>
                        <th id= 'residents'>Residents</th>
                        <th></th>
                    </tr>
                </thead> 
                <tbody>
                    {% for planet in tenPlanets.results %}
                    <tr>
                        <td>{{ planet.name }}</td>
                        <td> {{ "{:,}".format(planet.diameter|int) }} km</td>
                        <td>{{ planet.climate }}</td>
                        <td>{{ planet.terrain }}</td>
                        <td>{% if planet.surface_water != "unknown" %}
                                {{ planet.surface_water}} %
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                        <td>{{ "{:,}".format(planet.population|int) }} people</td>
                        <td>{% if planet.residents|length > 0 %}
                            <!-- Button trigger modal -->                             
                            <button type="button" data-planetname = "{{ planet.name }}" data-residents= "{{ tenPlanets.results[0].residents }}"  class="btn btn-primary" data-toggle="modal" data-target="#{{ planet.name }}">{{ planet.residents|length }} resident(s) </button><!-- END OF Button trigger modal -->
                            
                            {% else %}
                                No known residents
                            {% endif %}
                        </td>
                        <td><button type="button" disabled >Vote</button></td>
                    </tr>
                 
                </tbody>
           
           

                <!-- Modal Bootstrap window-->
                <div class="modal fade" id="{{ planet.name }}" tabindex="-1" role="dialog" aria-labelledby="{{ planet.name }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="{{ planet.name}}Label">Residents of {{ planet.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                            {{ planet.residents }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>  
                            </div>
                        </div>
                    </div>
                </div>
                    {% endfor %}            
                    <script>//script from bootstrap documentation adapted for this app
                            $('#planet.name').on('show.bs.modal', function (event) {
                            var button = $(event.relatedTarget) // Button that triggered the modal
                            var planetName = button.data('planetname')
                            // var residentNames = button.data('residents')
                            // Extract info from data-* attributes
                            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                            var modal = $(this)
                            modal.find('.modal-title').text('Residents on ')
                            // modal.find('.modal-title').text('Names of residents ' +  residentNames )
                            })  
                    </script>
            
            
            
            
            
                </table>
                <!-- {{ tenPlanets.results[2].residents }}  -->
                <!-- {{ tenPlanets }}  -->
            
          
        
        
        
        
        
        
        
        
        
        
        
        </div>
    </section>
</body>

                        
            