<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    
    <title>Planets</title>
</head>
<body>
    <section class="planets">
        <div class="container">
            <header>
                    <h1>Star Wars universe planets</h1>
                    <span>
                        <form action='/previous'>
                            <button type="submit" name = "previous" value="{{ tenPlanets.previous }}" class="btn" id="previus">Previuos</button>
                        </form>
                        <form action='/next'>
                            <button type="submit"; name = 'next' value="{{ tenPlanets.next }}" class="btn" id="next">Next</button>
                        </form>
                    </span> 
            </header>    
            <table class="table table-bordered table-hover table-striped table-condensed">
                <thead>
                    <tr>
                        <th id='name'>Name</th>
                        <th id='diameter'>Diameter</th>
                        <th id='climate'>Climate</th>
                        <th id='terrain'>Terrain</th>
                        <th id='surface-water-percentage'>Surface Water Percentage</th>
                        <th id='population'>Population</th>
                        <th id= 'residents'>Residents</th>
                        <th></th>
                    </tr>
                </thead> 
                <tbody>
                    {% for planet in tenPlanets.results %}
                    <tr>
                        <td>{{ planet.name }}</td>
                        <td>{{ planet.diameter }} km</td>
                        <td>{{ planet.climate }}</td>
                        <td>{{ planet.terrain }}</td>
                        <td>{{ planet.surface_water }}%</td>
                        <td>{{ planet.population }} people</td>
                        <td>{% if planet.residents|length > 0 %}
                           
                            <form action='/residents'>
                                <button type="submit" name = "residents" value="{{ planet.residents }}" class="btn residents">{{ planet.residents|length }} resident(s)</button>
                            </form> 
                            
                            {% else %}
                                No known residents
                            {% endif %}
                        </td>
                        <td><button type="button" disabled >Vote</button></td>
                    </tr>
                    {% endfor %}
                    
                
                </tbody>
                {{ tenPlanets.previous }} <br>
                {{ tenPlanets.next }} <br>
                {{ tenPlanets }}
            </table>
            